<body>

    <div class='container'>
        <p class='main_title'>I.기본인적사항</p>
        <div class='qna_list'>
            <p class='sub_title'>i.기본정보</p>
            <div class='for' *ngFor="let rawdata of basicinfo1">
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>ii.경험이력정보</p>
            <div class='for' *ngFor='let rawdata of basicinfo2'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>iii.목표설정정보</p>
            <div class='for' *ngFor='let rawdata of basicinfo3'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <p class='main_title'>II.학습행동유형</p>
        <div class='qna_list'>
            <p class='sub_title'>i.채움형</p>
            <div class='for' *ngFor='let rawdata of behavior1'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>ii.세움형</p>
            <div class='for' *ngFor='let rawdata of behavior2'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>iii.키움형</p>
            <div class='for' *ngFor='let rawdata of behavior3'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>iv.돋움형</p>
            <div class='for' *ngFor='let rawdata of behavior4'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <p class='main_title'>III.학습적성유형-1</p>
        <div class='qna_list'>
            <p class='sub_title'>이해도 및 만족도</p>
            <div class='for' *ngFor='let rawdata of aptitude_uns'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>인터넷</p>
            <div class='for' *ngFor='let rawdata of aptitude_internet'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <p class='main_title'>III.학습적성유형-2 : 장점 및 단점</p>
        <div class='qna_list'>
            <p class='sub_title'>실천형</p>
            <div class='for' *ngFor='let rawdata of aptitude_pnc_A'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>주도형</p>
            <div class='for' *ngFor='let rawdata of aptitude_pnc_B'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>열정형</p>
            <div class='for' *ngFor='let rawdata of aptitude_pnc_C'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>계획형</p>
            <div class='for' *ngFor='let rawdata of aptitude_pnc_D'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>창의형</p>
            <div class='for' *ngFor='let rawdata of aptitude_pnc_E'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>관심형</p>
            <div class='for' *ngFor='let rawdata of aptitude_pnc_F'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <p class='main_title'>III.학습적성유형-3 : 스트레스 극복유형</p>
        <div class='qna_list'>
            <p class='sub_title'>언어</p>
            <div class='for2' *ngFor='let rawdata of aptitude_stress_A'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>논리수학</p>
            <div class='for2' *ngFor='let rawdata of aptitude_stress_B'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>시각공간</p>
            <div class='for2' *ngFor='let rawdata of aptitude_stress_C'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>신체운동</p>
            <div class='for2' *ngFor='let rawdata of aptitude_stress_D'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>음악</p>
            <div class='for2' *ngFor='let rawdata of aptitude_stress_E'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>자연</p>
            <div class='for2' *ngFor='let rawdata of aptitude_stress_F'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>자기이해</p>
            <div class='for2' *ngFor='let rawdata of aptitude_stress_G'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>대인관계</p>
            <div class='for2' *ngFor='let rawdata of aptitude_stress_H'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
    </div>
    <div class='container'>
        <p class='main_title'>III.학습적성유형-4</p>
        <div class='qna_list'>
            <p class='sub_title'>지지정도</p>
            <div class='for' *ngFor='let rawdata of aptitude_support1'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>지지대상</p>
            <div class='for2' *ngFor='let rawdata of aptitude_support2'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>요구정도</p>
            <div class='for' *ngFor='let rawdata of aptitude_demand1'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>요구대상</p>
            <div class='for2' *ngFor='let rawdata of aptitude_demand2'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
    </div>
    <div class='container'>
        <p class='main_title'>III.학습적성유형-5</p>
        <div class='qna_list'>
            <p class='sub_title'>도움이 된 활동</p>
            <div class='for2' *ngFor='let rawdata of aptitude_help1'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>도움받고 싶은 활동</p>
            <div class='for2' *ngFor='let rawdata of aptitude_help2'>
                <div class='choices'><p>{{rawdata.question}}</p></div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>수업유형 별 필요정도</p>
            <div class='for' *ngFor='let rawdata of aptitude_needs'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <p class='main_title'>IV.밸런스 자가진단</p>
        <div class='qna_list'>
            <p class='sub_title'>학습유형</p>
            <div class='for' *ngFor='let rawdata of balance_learning'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>진로유형</p>
            <div class='for' *ngFor='let rawdata of balance_course'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
        <div class='qna_list'>
            <p class='sub_title'>진학유형</p>
            <div class='for' *ngFor='let rawdata of balance_entrance'>
                <div class='column'>
                    <div class='question'>{{rawdata.question}}</div>
                    <div class='answer'><p>{{rawdata.answer}}</p></div>
                </div>
            </div>
        </div>
    </div>

</body>