body{
  padding-bottom: 150px;
}

.input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 300px;
    height: 50px;
}
.input-group::-webkit-input-placeholder {
  color: #dedede;
  font-size: 18px;
}

.input-group {
  font-family: 'Raleway';
  color: #909090;
  background:#fff;
  width:300px;
  outline: none;
  border: none;
  font-size:18px;
  padding:10px 15px;
}

.data-title {
    margin-top: 60px;
    width: 1100px;
    height: 30px;
    font-size:14px;
    margin-bottom: 10px;

    margin-left: auto;
    margin-right: auto;
}

.ll{
  font-family: 'Raleway';
  display: inline-block;
  padding: 12px 0px;
  width: 12%;
  text-align: center;
}

#ll-email{
  width: 16%;
}

#ll-count{
  width: 8%;
}

.data-body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;

    height: 50px;
    background: #565559;
    color: #ffffff;
    padding: 15px, 0px, 15px, 0px;
    margin-bottom:8px;
}


.tt{
    font-family: 'Raleway';
    display: inline-block;
    padding-top: 17px;
    width: 12%;
    font-size: 13px;
    text-align: center;
}

#tt-email{
  width: 16%;
}

#tt-count{
  width: 8%;
}

.raw-result{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
