<body>

<div class="input">
  <input class="input-group" placeholder="Group Name" [(ngModel)]="group" (keyup)="getStudents(this.group)">
</div>

<div *ngIf="students.length" class="data-title">
    <div class="ll">group</div>
    <div class="ll">name</div>
    <div class="ll">birth</div>
    <div class="ll">phone</div>
    <div class="ll" id="ll-email">email</div>
    <div class="ll">date</div>
    <div class="ll" id="ll-count">count</div>
    <div class="ll">raw_data</div>
</div>


<div class="data-body" *ngFor="let student of students">
    <div class="tt">{{ student.group_name }}</div>
    <div class="tt">{{ student.name }}</div>
    <div class="tt">{{ student.birth }}</div>
    <div class="tt">{{ student.phone }}</div>
    <div class="tt" id="tt-email">{{ student.email }}</div>
    <div class="tt">{{ student.date }}</div>
    <div class="tt" id="tt-count">{{ student.count }}</div>
    <div class="tt"><a class="raw-result" routerLink="/rawdata/{{student.userinfo_pk}}" target="_blank">검사결과보기</a></div>
</div>


</body>
<app-main></app-main>
