li {
    list-style-type: none;
}
.result_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border-radius:25px;
}

.result_table td, .result_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.result_table tr:nth-child(even){background-color: #f2f2f2;}

.result_table tr:hover {background-color: #ddd;}

.result_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5380F7;
    color: white;
}